@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.blob2{
    display: flex;
    justify-content: space-between;
}
.blob2 h1{
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 40px;
    background: #5D3587;
    height: fit-content;
    box-shadow: 10px 10px 0px 0px #392467;

}
.time{
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 40px;
    background: #5D3587;
    height: fit-content;
    box-shadow: 10px 10px 0px 0px #392467;
}
.svg{
    height: 160px;
    width: 20rem;
    background-image: radial-gradient(#392467 1.5px, transparent 2px);
    background-size: 18px 18px;
    background-color: rgba(255, 255, 255, 0);
}
.question-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);

}
.question{
    background: url("../img/backgoround-patreen.png");
}
.question h1{
    margin: 70px;
    /*width:  50rem;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 1rem 5rem;
    background: #5D3587;
    box-shadow: 10px 10px 0px 0px #392467;
    border-radius: 5px;
    color: #ffffff;
}
.Reponse{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.Reponse button{
    cursor: pointer;
    margin: 2rem;
    text-decoration: none;
    color: #392467;
    font-size: 18px;
    border-radius: 0px;
    width: 40rem;
    height: 70px;
    font-weight: bold;
    border: 2px solid #392467;
    transition: 0.3s;
    box-shadow: 10px 10px 0px 0px #392467;
    background-color: #ffffff;
}
.Reponse button:hover{
    box-shadow: 0 0 #392467;
    color: #fff;
    background-color: #392467;
}
.Reponse button:active{
    background-color: #392467;
}


.blob1{
    position: absolute;
    left: 0;
    bottom: 0;

}

.nextbtn button{
    transition: 0.3s;
    cursor: pointer;
    border: 0;
    text-align: center;
    position: absolute;
    left: 89%;
    width: 10rem;
    bottom: 0;
    background: #ffffff;
    box-shadow: -10px -10px 0px 0px #392467;
    border: 2px solid #392467;
    color: #392467;
    padding: 1rem 30px;
    border-radius: 40px 0px 0px 40px;

}
.nextbtn button:hover{
    box-shadow: 0 0 #392467;
    color: #fff;
    background-color: #392467;
}
.progressbar {
    display: flex;
    width: 100%;
    margin: 50px 0 50px 0;
    counter-reset: step ;
}
.progressbar li {
    list-style-type: none;
    width: 7rem;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 15px;
    height: 15px;
    content: '';
    line-height: 30px;
    border: 2px solid #7d7d7d;
    background-color: #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    transition: all .8s;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 7px;
    left: -50%;
    z-index: -1;
    transition: all .8s;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active:before {
    border-color: #392467;
    background-color: #392467;
    transition: all .8s;
}
.progressbar li.active:after {
    background-color: #5D3587;
    transition: all .8s;
}

.btn {
    background-color: #55b776;
    margin: 5px;
    width: 75px;
    color: white;
}
@media only screen and (max-width: 600px){
    .question-section{
        top: 0%;
        left: 0%;
        transform: translate(-0%, -0%);
    }
    .question{
        font-size: 16px;

    }
    .Reponse{
        grid-template-columns: 1fr;
    }
    .Reponse button{
        width: 25rem;
    }
}